.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15em;
}

.flex-footers{
    /* display: flex; */
    /* justify-content: center; */
    border: 3px solid green;
}

.section{
    /* text-align: left; */
    border: 3px solid red;
}


.email-box{
    /* text-align: right; */
    border: 3px solid blue;
}