.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15em;
}

.section{
    /* text-align: left; */
    border: 3px solid red;
    padding-top: 50px;
    font-size: 0.83em;
    font-weight: bold;
    text-align: left;
    left: 80px;
    position: relative;
}

.flex-lists{
    display: flex;
    border: 3px solid green;
    font-size: 12px;
    line-height: 30px;
   padding-left: 180px;
   
}


.email-box{
    /* text-align: right; */
    border: 3px solid blue;
    
}