.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15em;
}

.section{
    /* text-align: left; */
    border: 3px solid red;
    padding-top: 50px;
    font-size: 12px;
    font-weight: bold;
}

.flex-lists{
    display: flex;
    border: 3px solid green;
}


.email-box{
    /* text-align: right; */
    border: 3px solid blue;
}