div.MuiTabs-flexContainer{
    background-color: white;
    color: black;
}

/* .PrivateTabIndicator-colorSecondary-4{
    background-color: rgb(18, 18, 175);
} */

.PrivateTabIndicator-colorSecondary-4 {
    background-color: white;
}